.resumeContainer {
  padding-left: 40px; 
}

.expHeader {
  font-family: 'General Sans', sans-serif;
  text-align: right;
  padding-right: 60px;
  font-size: 50px;
  padding-top: 80px;
}

.expHeader:hover {
  color: #e56f25;
}

.professionalExp {
  text-align: center;
  font-size: 30px;
  margin-bottom: 0;
}

.logo {
  max-width: 90px; 
  float: left;
  padding-right: 20px;
}

.infoDiv{
  padding-left: 15px;
  margin-bottom: 40px;
}

.time, .location{
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.time, .org, .location, .degree {
  margin: 5px;
}

.time {
  padding-top: 10px;
}

.infoDiv > p {
  padding-left: 95px;
  padding-right: 60px;
}

.details {
  padding-left: 110px;
  padding-right: 60px;
}

.education {
  text-align: center;
  font-size: 30px;
  margin-bottom: 0;
}

.logoEd {
  max-width: 90px; 
  float:left;
  padding-right: 10px;
}

.edDiv {
  margin-bottom: 50px;
}

.edInfo {
  margin-left: 106px;
}

.org:hover {
  color: #e56f25;
}

p, li{
  font-family: 'Plus Jakarta Sans', sans-serif;
}