.welcome {
  font-family: 'General Sans', sans-serif;
  font-size: 60px;
  text-align: center;
  padding-bottom: 15%;
  padding-top: 10%;
}

.welcome:hover {
  color: #99d1d3;
}

#animationDiv{
  animation-duration: 6s;
}