.contact:hover {
  color: #e56f25;
}

.contact{
  font-family: 'General Sans', sans-serif;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 40px; 
  font-size: 50px;
}

.contactInfo {
  padding-left: 40px;
}

.logoIcons{
  max-width: 40px;
  float: left;
}

.handleGH, .handleLI, .handleEmail {
  margin-top: 30px;
  padding-left: 50px;
}

.handleGH:hover, .handleLI:hover, .handleEmail:hover {
  color: #99d1d3;
}